@font-face {
  font-family: 'gothic';
  src: url('../../fonts/leaguegothic-regular-webfont.ttf');
  src: url('../../fonts/leaguegothic-regular-webfont.eot');
  src: url('../../fonts/leaguegothic-regular-webfont.woff');
}
