@font-face {
  font-family: 'gothic';
  src: url('../../fonts/leaguegothic-regular-webfont.ttf');
}

@font-face {
  font-family: 'gothic';
  src: url('../../fonts/leaguegothic-regular-webfont.eot');
}

@font-face {
  font-family: 'gothic';
  src: url('../../fonts/leaguegothic-regular-webfont.woff');
}