include modules/_mixin

header.header
  .container
    .header__top
      .logo 
        <b>poz</b><i>nan</i><b> - city</b><i>2</i><b>live</b>
      ul.soc--list
        li.soc--item
          a.soc--link
            +icon('evernote')
        li.soc--item
          a.soc--link
            +icon('twitter-bird')
        li.soc--item
          a.soc--link
            +icon('pinterest')
        li.soc--item
          a.soc--link
            +icon('linked-in')
        li.soc--item
          a.soc--link
            +icon('facebook')
        li.soc--item
          a.soc--link
            +icon('delicious')
    .header__bottom
      ul.site-nav--list        
        each menuItem in ['home','product','services','contact']
          li.site-nav--item
            a(href="#").site-nav--link= menuItem
