extends ./modules/_head
block variables
  - var title = 'Home page'
block content
  .content__wrapper
    include ./modules/_header
    include ./modules/_main-img
    include ./modules/_aside
    include ./modules/_content
  include ./modules/_footer
