mixin icon(name,mod)
  -mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
    use(xlink:href="#" + name)

- var people = [{ person: 'person01',recal: 'I was in Poznan  once. The architecture is really awesome.', identify: 'Joe   Wisdom, architect' }, { person: 'person02', recal: 'I was   lost in Poznan for 3 days. I was terrified.', identify:   'Little Box, child'}, { person: 'person03', recal: 'People used to look at me now they don’t see me.', identify:   'Eva Doe, exmodel'}, { person: 'person04', recal: 'I have a lot of penfriends in Poznań. I like writting to them and', identify: 'Emma Smith, child'}];

- var posts = [{ image: 'image-post-1', title: 'poznan at night', count:10 },{ image: 'image-post-2', title: 'people to meet', count:21 },{ image: 'image-post-3', title: 'visit out office', count:17 }];